{% extends 'cuentas/index2.html' %}

                {% block body %}
                <div class="container">
                    <h1 style="text-align: center;">¿Cuál es tu pregunta?</h1><br>
                    <form method="post">
                        {% csrf_token %}
                        {{ Pregunta_Form.as_p }}
                        <button type="submit" class="btn btn-lg btn-block btn-info">Crear pregunta</button>
                    </form>
                </div>
                {% endblock %}
