{% extends 'cuentas/index2.html' %}
{% block body %}
<div class="list-group" style="margin-top: 10px;">
	<a href="{% url 'articulos:ArticuloFormA' Materias.id %}" class="list-group-item list-group-item-info" style="text-align: center;">Crear Articulo</a>
	</div>
	{% if Articulos %}
		 {% for Articulo in Articulos %}
		  <div style="margin-top: 10px;">
         	<div >
			 <li style="display: block; text-decoration: none;"><a href="{% url 'articulos:results' Articulo.id %}" style="color:white; " class="btn btn-lg btn-block btn-primary" role="button" >{{Articulo.Titulo}}</a></li>

			</div>
			<embed src="{{Articulo.Pdf_articulo.url}}" width="800" height="800" type='application/pdf'>
		</div>
		{% endfor %}
	{% else %}
		<h2>'no hay Articulos'</h2>
	{% endif %}
{% endblock %}
